<template name="candidatedetail">
	<h1 class="page-header">{{name}}</h1>
          <div class="row placeholders">
              <table class="table table-striped">
              	<thead>
              		<tr>
	              		<th>Vote</th>
	              		<th>Name</th>
	              		<th>Resume</th>
	              		<th>Status</th>
              			<th>Details</th>
              			<th>Source</th>
              			<th></th>
              		</tr>
          		</thead>
	      		<tbody>
                	{{> candidate}}
            	</tbody>
            </table>
          </div>
          <div class="row">
          <div class="col-md-6">
            Interview 1
            Interview 2
            Interview 3

            Attachments


          </div>
          <div class="col-md-6">PDF VIEW</div>
          </div>
</template>



<template name="candidatetwocols">

</template>