
<template name="candidate">
 		<tr class="{{isCandidateDone}}">
			<td>
				{{#unless action.hired}}
					<input type="checkbox" name="thumbup" id="tup{{_id}}" class="checkbox-up" {{didIVote '+'}} />
			        <label for="tup{{_id}}" data-toggle="tooltip" data-placement="right" title="{{getVotersNames '+'}}"> ({{nbVotes 'upvotes'}})</label><br />
			        <input type="checkbox" name="thumbdown" id="tdown{{_id}}" class="checkbox-down" {{didIVote '-'}} />
			        <label for="tdown{{_id}}" data-toggle="tooltip" data-placement="right" title="{{getVotersNames '-'}}"> ({{nbVotes 'downvotes'}}) </label>
		        {{/unless}}
			</td>
			<td>
				<a href="{{pathFor route='candidatedetail'}}">{{name}}</a>
			</td>
			<td>
				{{#if getResume}}
					{{#with getResume}}
						<a href="{{this.url download=true}}" class="btn btn-primary btn-xs">Download</a>
						<button class="btn btn-danger btn-xs deleteResume">x</button>
					{{/with}}
				{{else}}
					<input type="file" name="..." class="file resumeInput" />
				{{/if}}
			</td>
			<td>
		        <label for="int1{{_id}}">1</label>
		        <input type="checkbox" name="intone" id="int1{{_id}}" checked="{{action.interview1}}" class="toggle-int1 checkbox-inline" />
		        <label for="int2{{_id}}">2</label>
				<input type="checkbox" name="inttwo" id="int2{{_id}}" checked="{{action.interview2}}" class="toggle-int2  checkbox-inline" />
		        <label for="int3{{_id}}">3</label>
				<input type="checkbox" name="intthree" id="int3{{_id}}" checked="{{action.interview3}}" class="toggle-int3 checkbox-inline" />
		        <label for="nogo{{_id}}">Nogo</label>
		        <input type="checkbox" id="nogo{{_id}}" checked="{{action.nogo}}" class="toggle-nogo checkbox-inline" />
		        <label for="hired{{_id}}">Hired</label>
		        <input type="checkbox" id="hired{{_id}}" checked="{{action.hired}}" class="toggle-hired checkbox-inline" />
			</td>
			<td>
		        <input type="radio" name="nationality{{_id}}" id="aus{{_id}}" value="aupr" class="radio-inline radio-nationality" {{isNationality 'aupr'}} />
		        <label for="aus{{_id}}">AU/PR</label>
				<input type="radio" name="nationality{{_id}}" id="fr{{_id}}" value="fr" class="radio-inline radio-nationality" {{isNationality 'fr'}} />
		        <label for="fr{{_id}}">FR</label>
				<input type="radio" name="nationality{{_id}}" id="other{{_id}}" value="other" class="radio-inline radio-nationality" {{isNationality 'other'}} />
		        <label for="other{{_id}}">Other</label>
			</td>
			<td>
				<select class="referer-control input-sm">
				  <option value="" selected="{{isEqual referer ''}}">Undefined</option>
				  <option value="recruiter" selected="{{isEqual referer 'recruiter'}}">Recruiter</option>
				  <option value="octo.com" selected="{{isEqual referer 'octo.com'}}">octo.com</option>
				  <option value="Social media" selected="{{isEqual referer 'Social media'}}">Social media</option>
				  <option value="Personal Referal" selected="{{isEqual referer 'Personal Referral'}}">Personal Referral</option>
				  <option value="Direct Application" selected="{{isEqual referer 'Direct Application'}}">Direct Application</option>
				  <option value="Other" selected="{{isEqual referer 'Other'}}">Other</option>

				</select>
			</td>
			<td>
            	<button class="delete">&times;</button>
			</td>
		</tr>

</template>
