<template name="candidates">
	<h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">

                <label class="hide-completed">
                
                {{#if hideCompleted}}
                <input type="checkbox" checked />
                {{else}}
                <input type="checkbox" />        
                {{/if}}
                Hide No Go candidates
              </label>

              {{#if currentUser}}
              <form class="new-candidate">
                <input type="text" name="name" placeholder="Type to add new candidates" />
              </form>
            {{/if}}
              <ul>
            {{#each candidates}}
                {{> candidate}}
            {{/each}}
            </ul>
          </div>
</template>


<template name="candidate">
    <li class="{{#if checked}}checked{{/if}}">
        <input type="checkbox" name="thumbup" id="tup{{_id}}" class="checkbox-up" {{didIVoteUp}} />
        <label for="tup{{_id}}"> ({{nbUpVotes}}) <span class="upvoters">{{upVoters}}</span></label>

        <input type="checkbox" name="thumbdown" id="tdown{{_id}}" class="checkbox-down" {{didIVoteDown}} />
        <label for="tdown{{_id}}"> ({{nbDownVotes}}) <span class="downvoters">{{downVoters}}</span></label>


        <button class="delete">&times;</button>
        <span class="text">{{name}} ({{createdAt}})</span>
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    </li>
</template>