<template name="candidates">
	<h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
                <label class="hide-completed">

                {{#if hideCompleted}}
                <input type="checkbox" checked />
                {{else}}
                <input type="checkbox" />        
                {{/if}}
                Hide No Go candidates
              </label>

              {{#if currentUser}}
              <form class="new-candidate">
                <input type="text" name="name" placeholder="Type to add new candidates" />
              </form>
            {{/if}}
              
              <table class="table table-striped">
              	<thead>
              		<tr>
	              		<th>Vote</th>
	              		<th>Name</th>
	              		<th>Resume</th>
	              		<th>Status</th>
              			<th>Details</th>
              			<th>Source</th>
              			<th></th>
              		</tr>
          		</thead>
	      		<tbody>
            	{{#each candidates}}
                	{{> candidate}}
            	{{/each}}
            	</tbody>
            </table>
          </div>
</template>


