<template name="statistics">
	<h1 class="page-header">Statistics </h1>
          <div class="row placeholders">
             <a href="{{pathFor route='monthly_stats' data=previousMonthRouteParam}}" class="changemonth">Prev Month</a> | {{count}} candidates applied between {{formatDate date_start}} and {{formatDate date_end}} | <a href="{{pathFor route='monthly_stats' data=nextMonthRouteParam}}" class="changemonth">Next Month</a> 


			<svg class="chart"></svg>



			<div class="chartdiv">
				<!-- -->
			</div>

          </div>
</template>


