/*.chartdiv div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

.bar {
  fill: steelblue;
}

.barlegend {
  fill: #FFF;
  font: 10px sans-serif;
  text-anchor: end;

}

.axis text {
  font: 10px sans-serif;
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}*/

/*.x.axis path {
  display: none;
}*/